<h1>Create a Profile!</h1>

<form action="<%=users_url%>" method="post">
  <input type="hidden"
    name="authenticity_token"
    value="<%=form_authenticity_token %>">

    <label>USERNAME:
      <input type="text" name="user[username]">
    </label>
    <br>
    <br>

    <label>PASSWORD:
      <input type="password" name="user[password]">
    </label>

    <br>
    <br>

    <input type="submit" value="CREATE">

</form>

<%= link_to "Sign In", new_session_url %>
